body {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

h1, h2 {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
    height: 500px;
}

a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}